@font-face {
    font-family: Heebo;
    src: url("assets/fonts/Heebo-VariableFont_wght.ttf");
}

* {
    font-family: "Heebo";
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    direction: rtl;
    position: absolute;
    top: 0;
    left: 0;
}

body {
    background: linear-gradient(221deg, rgb(251, 195, 203) 20%, rgb(224, 186, 224) 60%);
    /* background: linear-gradient(221deg, orange 5%, rgb(253, 201, 103) 40%, rgb(238, 238, 153) 80%); */
    background-size: 100% 100%;
}

.screen {
    height: fit-content;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
}

.none {
    display: none;
}

.open-text {
    text-align: center;
    font-size: 4.5vmin;
}

.comment-text {
    text-align: center;
    font-size: 3vmin;
    margin-bottom: 2vh;
}

.bold-red {
    font-weight: bold;
}

.dropdown {
    margin: 3vh 1vw 5vh 1vw;
    font-size: 4vmin;
    border-radius: 0.2em;
}

select:disabled,
button:disabled {
    background-color: rgb(251, 195, 203);
}

.text-input {
    margin: 3vh 1vw;
    font-size: 3vmin;
    border-radius: 0.2em;
    width: 20vw; 
}

.num-input {
    width: 6vw;
}

.btn {
    font-size: 3vmin;
    display: block;
    margin: 2vh auto;
    border-radius: 0.2em;
    border: solid 1px;
    padding: 1vh 5vw;
    background-color: rgb(196, 104, 196);
    user-select: none;
}

.question-num {
    font-size: 2vmin;
    margin-bottom: 1vh;
}

#item-container {
    display: flex;
    flex-direction: column;
}

.sort-btn {
    font-size: 3vmin;
    margin: 2vh 1vw;
    border-radius: 0.2em;
    border: solid 1px;
    padding: 1vh 1vw;
    background-color: rgb(196, 104, 196);
    user-select: none;
}

.minus {
    height: 2.5vh;
    width: auto;
    margin-left: 1vw;
    cursor: pointer;
}

.tillder-text {
    text-align: center;
    font-size: 3vmin;
    margin: 4vh 0 2vh;
    /* text-decoration: red underline; */
    background-color: rgb(245, 169, 53);
}

.sentence-input {
    margin: 0 1vw;
    font-size: 3vmin;
    border-radius: 0.2em;
    width: 20vw; 
    padding-right: 0.6vw;
}

.word-input {
    width: 10vw;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

#sentence-submit {
    order: 1;
}

.sentence-option-container {
    /* width: 90%; */
    margin: 1.5vh 0 1.5vh;
    direction: rtl;
    /* width: 95%; */
    /* max-height: 30vh;
    overflow: auto; */
}

.scroll-bar {
    max-height: 30vh;
    overflow: auto;
    direction: ltr;
    width: 65%;
    margin: 1.5vh 0 1.5vh;
}

.sentence-container {
    border: solid black 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2vh 0;
    transition: height 2s;
    margin: 1vh 0;
}

.sentence-screen {
    flex-direction: column;
    height: 80%;
    margin-bottom: 0;
}

.add-option {
    /* order: 1; */
    width: 100%;
}

.add-option-btn {
    width: 20vw;
    padding: 0.5vh 0.5vw;
    margin: 2vh auto;
    user-select: none;
}

.item {
    margin-right: 1vw;
}

.radio {
    border-radius: 50%;
}

/* radio buttons */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    right: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-right: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}